services:
  - type: web
    name: jt-tracking-bot
    env: python
    pythonVersion: 3.12
    plan: free
    branch: main
    buildCommand: pip install -r requirements.txt
    startCommand: python main.py
    envVars:
      - key: PYTHONUNBUFFERED
        value: "1"
      - key: PORT
        value: "5000"
    healthCheckPath: /
    autoDeploy: true
